<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="http://10.101.100.208:8080/dist/_onescreen.js"></script>  
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
 <title>Hackathon | Hang With Friends</title>


</head>
    <body>
        <div id="os_container" style="width:35%;margin:50px auto;">
            <div id="contextual" style="width:640px;height:380px;"></div>
        </div>
        
        <script>
        	var content_id = <%= @content_id %>
        	var start_time = <%= @created_at %>
        	var seek_time = <%= @time_passed %>
        </script>
        <script>
            com.onescreen.apps.load("10971-3c4a4a8a69f4c1ee7fd6d7fe72df7329", "contextual", {
				textLocation: 'os_text',
                playbackPriority: 'html5, flash',
                showThumbs:true,
                autoPlay:true,
				media:"http://data.1sfx.net/playlists/1202737/3132/0/2304255.jsonp?plf=os",
                playerRenderer: "http://10.101.100.208:8080/test/webroot/js/hackathonPlayer.js",
                thumbsRenderer: "http://10.101.100.208:8080/test/webroot/js/hackathonPlaylist.js"
            });
        </script>

		<div id='os_text'>
			<%= @text %>
		</div>

    </body>
    
    
</html>
